In [1]:
import os
os.getcwd()

'C:\\Users\\reetb\\Desktop\\AgAthon'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('points_data3.csv')

In [4]:
df.columns

Index(['ID', 'CropTyp', 'Acres', 'Irrigtn', 'IntlSrD', 'LstSrvD', 'DataSrc',
       'Notes', 'TRS', 'county', 'RtCrpTy', 'ExctAcr', 'Shp_Lng', 'Shap_Ar',
       'CropGrp', 'date', 'year', 'EVI', 'NVDI', 'Albedo', 'GNDVI', 'MSR',
       'OSAVI', 'PVR', 'VARIG', 'SIPI', 'GARI', 'mNVDI', 'EPIChlb', 'NDII'],
      dtype='object')

In [5]:
len(df['CropTyp'].unique())

56

In [6]:
df = df.dropna(subset=['EVI', 'NVDI', 'Albedo', 'GNDVI', 'MSR','OSAVI', 'PVR', 'VARIG', 'SIPI', 'GARI', 'mNVDI', 'EPIChlb', 'NDII'])

In [7]:
df = df.drop(['ID', 'CropTyp', 'CropGrp', 'IntlSrD', 'LstSrvD', 'DataSrc', 'Notes', 'TRS', 'county', 'RtCrpTy', 'ExctAcr', 'Shp_Lng', 'Shap_Ar', 'date', 'year'], axis=1)

In [8]:
df

,Acres,Irrigtn,EVI,NVDI,Albedo,GNDVI,MSR,OSAVI,PVR,VARIG,SIPI,GARI,mNVDI,EPIChlb,NDII
0,4,micro-sprinkler,0.427817,0.794949,0.132105,0.754783,2.093314,0.546581,0.116400,0.145814,0.891848,0.661317,0.877803,0.022413,0.522117
1,37,center pivot,0.250359,0.350633,0.132260,0.434539,0.447128,0.616196,-0.098923,-0.137691,0.590718,0.208436,0.501827,0.048898,0.536452
3,84,center pivot,0.293365,0.374090,0.158922,0.494862,0.482988,0.636737,-0.148304,-0.205206,0.614956,0.234926,0.499062,0.059000,0.468877
4,24,micro-sprinkler,0.556109,0.829215,0.174470,0.759875,2.345889,0.577111,0.197388,0.277133,0.868445,0.709110,0.941120,0.016380,0.522670
5,60,rill,0.366269,0.652205,0.129180,0.660435,1.223464,0.568183,-0.007552,-0.010992,0.824724,0.483125,0.745229,0.035458,0.527230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,20,wheel line,0.666071,0.916694,0.207213,0.833653,3.866195,0.621325,0.358022,0.490142,0.928778,0.818325,0.984785,0.008440,0.556332
2246,92,center pivot,0.728124,0.923599,0.231826,0.851732,4.045819,0.678916,0.339187,0.491979,0.926199,0.843325,0.994638,0.009059,0.545877
2247,33,drip/micro-sprinkler,0.269170,0.370053,0.137566,0.444480,0.477110,0.614353,-0.088953,-0.126466,0.584536,0.236548,0.544801,0.047151,0.480429
2248,1,drip/sprinkler,0.429977,0.760587,0.136571,0.700573,1.711784,0.550394,0.128469,0.181951,0.829813,0.634769,0.905706,0.020790,0.534814
2249,26,center pivot,0.469394,0.802415,0.144192,0.762352,2.089402,0.553322,0.111841,0.156255,0.863017,0.690162,0.912470,0.022618,0.486690

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
le = LabelEncoder()

In [12]:
le.fit(df['Irrigtn'])

LabelEncoder()

In [14]:
label = le.transform(df['Irrigtn'])

In [15]:
df['Irrigtn'] = label

In [17]:
df = df.drop(['Irrigtn'], axis=1)

In [18]:
df

,Acres,EVI,NVDI,Albedo,GNDVI,MSR,OSAVI,PVR,VARIG,SIPI,GARI,mNVDI,EPIChlb,NDII
0,4,0.427817,0.794949,0.132105,0.754783,2.093314,0.546581,0.116400,0.145814,0.891848,0.661317,0.877803,0.022413,0.522117
1,37,0.250359,0.350633,0.132260,0.434539,0.447128,0.616196,-0.098923,-0.137691,0.590718,0.208436,0.501827,0.048898,0.536452
3,84,0.293365,0.374090,0.158922,0.494862,0.482988,0.636737,-0.148304,-0.205206,0.614956,0.234926,0.499062,0.059000,0.468877
4,24,0.556109,0.829215,0.174470,0.759875,2.345889,0.577111,0.197388,0.277133,0.868445,0.709110,0.941120,0.016380,0.522670
5,60,0.366269,0.652205,0.129180,0.660435,1.223464,0.568183,-0.007552,-0.010992,0.824724,0.483125,0.745229,0.035458,0.527230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,20,0.666071,0.916694,0.207213,0.833653,3.866195,0.621325,0.358022,0.490142,0.928778,0.818325,0.984785,0.008440,0.556332
2246,92,0.728124,0.923599,0.231826,0.851732,4.045819,0.678916,0.339187,0.491979,0.926199,0.843325,0.994638,0.009059,0.545877
2247,33,0.269170,0.370053,0.137566,0.444480,0.477110,0.614353,-0.088953,-0.126466,0.584536,0.236548,0.544801,0.047151,0.480429
2248,1,0.429977,0.760587,0.136571,0.700573,1.711784,0.550394,0.128469,0.181951,0.829813,0.634769,0.905706,0.020790,0.534814
2249,26,0.469394,0.802415,0.144192,0.762352,2.089402,0.553322,0.111841,0.156255,0.863017,0.690162,0.912470,0.022618,0.486690

In [17]:
from sklearn.compose import make_column_transformer

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
column_trans = make_column_transformer((OneHotEncoder(), ['Irrigtn', 'CropGrp']), remainder='passthrough')

In [25]:
df = column_trans.fit_transform(df)

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
min_max_scaler = MinMaxScaler()

In [21]:
X = min_max_scaler.fit_transform(df)

In [22]:
X

array([[0.01140684, 0.45866881, 0.83120293, ..., 0.84019588, 0.2229831 ,
        0.54410377],
       [0.13688213, 0.19390497, 0.26094787, ..., 0.34924379, 0.5886954 ,
        0.59042957],
       [0.31558935, 0.25806915, 0.29105338, ..., 0.34563317, 0.72819526,
        0.37204394],
       ...,
       [0.121673  , 0.22196933, 0.28587213, ..., 0.40535988, 0.56457157,
        0.40937683],
       [0.        , 0.46189098, 0.78710173, ..., 0.8766316 , 0.2005789 ,
        0.58513618],
       [0.09505703, 0.52070084, 0.8407852 , ..., 0.88546481, 0.22581039,
        0.42961123]])

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, label, test_size=0.3, random_state=42)

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
clf1 = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=1000)

In [26]:
clf1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [27]:
y_pred1 = clf1.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test, y_pred1)

0.4946808510638298

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

In [31]:
clf2 = GradientBoostingClassifier(random_state=0)

In [32]:
clf2.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [33]:
y_pred2 = clf2.predict(X_test)

In [34]:
accuracy_score(y_test, y_pred2)

0.5141843971631206

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
clf3 = KNeighborsClassifier(n_neighbors=20)

In [37]:
clf3.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                     weights='uniform')

In [38]:
y_pred3 = clf3.predict(X_test)

In [39]:
accuracy_score(y_test, y_pred3)

0.5053191489361702

In [40]:
pred = pd.DataFrame(y_pred1, columns =['Pred1'])

In [41]:
pred['Pred2'] = y_pred2
pred['Pred3'] = y_pred3

In [42]:
pred

     Pred1  Pred2  Pred3
0        1     15     15
1        1      1      1
2        1      1     13
3        1      2      1
4        1     15      1
..     ...    ...    ...
559     11     15     15
560      1      1      1
561      1      1      1
562      1      1      1
563      1      1      1

[564 rows x 3 columns]

In [43]:
y_pred = pred.mode(axis=1)

In [44]:
y_pred

        0   1   2
0    15.0 NaN NaN
1     1.0 NaN NaN
2     1.0 NaN NaN
3     1.0 NaN NaN
4     1.0 NaN NaN
..    ...  ..  ..
559  15.0 NaN NaN
560   1.0 NaN NaN
561   1.0 NaN NaN
562   1.0 NaN NaN
563   1.0 NaN NaN

[564 rows x 3 columns]

In [45]:
accuracy_score(y_test, y_pred[0])

0.5070921985815603

In [46]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(y_test, y_pred[0]))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.57      0.90      0.70       244
           2       0.00      0.00      0.00         6
           4       0.00      0.00      0.00         2
           5       0.00      0.00      0.00         4
           6       0.33      0.09      0.14        23
           7       1.00      0.05      0.10        19
           8       0.00      0.00      0.00         3
          10       0.00      0.00      0.00         4
          11       0.36      0.53      0.42        80
          13       0.40      0.14      0.21        85
          14       0.00      0.00      0.00         1
          15       0.36      0.14      0.20        74
          16       0.00      0.00      0.00         1
          18       0.00      0.00      0.00        17

    accuracy                           0.51       564
   macro avg       0.20      0.12      0.12       564
weighted avg       0.45      0.51      0.43       564

C:\Users\reetb\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [48]:
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.53      0.95      0.68       244
           2       0.00      0.00      0.00         6
           4       0.00      0.00      0.00         2
           5       0.00      0.00      0.00         4
           6       0.00      0.00      0.00        23
           7       0.00      0.00      0.00        19
           8       0.00      0.00      0.00         3
          10       0.00      0.00      0.00         4
          11       0.36      0.59      0.45        80
          13       0.00      0.00      0.00        85
          14       0.00      0.00      0.00         1
          15       0.00      0.00      0.00        74
          16       0.00      0.00      0.00         1
          18       0.00      0.00      0.00        17

    accuracy                           0.49       564
   macro avg       0.06      0.10      0.08       564
weighted avg       0.28      0.49      0.36       564

In [49]:
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.66      0.83      0.74       244
           2       0.00      0.00      0.00         6
           3       0.00      0.00      0.00         0
           4       0.00      0.00      0.00         2
           5       0.00      0.00      0.00         4
           6       0.17      0.09      0.11        23
           7       0.50      0.11      0.17        19
           8       0.00      0.00      0.00         3
          10       0.00      0.00      0.00         4
          11       0.38      0.47      0.42        80
          12       0.00      0.00      0.00         0
          13       0.38      0.29      0.33        85
          14       0.00      0.00      0.00         1
          15       0.34      0.27      0.30        74
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         0
          18       0.00      0.00      0.00        17

    accuracy                           0.51       564
   macro avg       0.14      0.11      0.12       564
weighted avg       0.47      0.51      0.48       564

C:\Users\reetb\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [50]:
print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.68      0.82      0.74       244
           2       0.00      0.00      0.00         6
           4       0.00      0.00      0.00         2
           5       0.00      0.00      0.00         4
           6       0.20      0.17      0.19        23
           7       0.50      0.05      0.10        19
           8       0.00      0.00      0.00         3
          10       0.00      0.00      0.00         4
          11       0.33      0.53      0.40        80
          13       0.34      0.25      0.29        85
          14       0.00      0.00      0.00         1
          15       0.29      0.23      0.26        74
          16       0.00      0.00      0.00         1
          18       0.00      0.00      0.00        17

    accuracy                           0.51       564
   macro avg       0.16      0.14      0.13       564
weighted avg       0.46      0.51      0.47       564