In [1]:
import os
os.getcwd()

'C:\\Users\\reetb\\Desktop\\AgAthon'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('points_data3.csv')

In [4]:
df.columns

Index(['ID', 'CropTyp', 'Acres', 'Irrigtn', 'IntlSrD', 'LstSrvD', 'DataSrc',
       'Notes', 'TRS', 'county', 'RtCrpTy', 'ExctAcr', 'Shp_Lng', 'Shap_Ar',
       'CropGrp', 'date', 'year', 'EVI', 'NVDI', 'Albedo', 'GNDVI', 'MSR',
       'OSAVI', 'PVR', 'VARIG', 'SIPI', 'GARI', 'mNVDI', 'EPIChlb', 'NDII'],
      dtype='object')

In [5]:
len(df['CropTyp'].unique())

56

In [6]:
df = df.dropna(subset=['EVI', 'NVDI', 'Albedo', 'GNDVI', 'MSR','OSAVI', 'PVR', 'VARIG', 'SIPI', 'GARI', 'mNVDI', 'EPIChlb', 'NDII'])

In [7]:
df = df.drop(['ID', 'IntlSrD', 'LstSrvD', 'DataSrc', 'Notes', 'TRS', 'county', 'RtCrpTy', 'ExctAcr', 'Shp_Lng', 'Shap_Ar', 'date', 'year'], axis=1)

In [9]:
df = df.drop(['CropTyp', 'Irrigtn'], axis=1)

In [10]:
df

,Acres,CropGrp,EVI,NVDI,Albedo,GNDVI,MSR,OSAVI,PVR,VARIG,SIPI,GARI,mNVDI,EPIChlb,NDII
0,4,Orchard,0.427817,0.794949,0.132105,0.754783,2.093314,0.546581,0.116400,0.145814,0.891848,0.661317,0.877803,0.022413,0.522117
1,37,Vegetable,0.250359,0.350633,0.132260,0.434539,0.447128,0.616196,-0.098923,-0.137691,0.590718,0.208436,0.501827,0.048898,0.536452
3,84,Vegetable,0.293365,0.374090,0.158922,0.494862,0.482988,0.636737,-0.148304,-0.205206,0.614956,0.234926,0.499062,0.059000,0.468877
4,24,Orchard,0.556109,0.829215,0.174470,0.759875,2.345889,0.577111,0.197388,0.277133,0.868445,0.709110,0.941120,0.016380,0.522670
5,60,Cereal Grain,0.366269,0.652205,0.129180,0.660435,1.223464,0.568183,-0.007552,-0.010992,0.824724,0.483125,0.745229,0.035458,0.527230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,20,Hay/Silage,0.666071,0.916694,0.207213,0.833653,3.866195,0.621325,0.358022,0.490142,0.928778,0.818325,0.984785,0.008440,0.556332
2246,92,Hay/Silage,0.728124,0.923599,0.231826,0.851732,4.045819,0.678916,0.339187,0.491979,0.926199,0.843325,0.994638,0.009059,0.545877
2247,33,Nursery,0.269170,0.370053,0.137566,0.444480,0.477110,0.614353,-0.088953,-0.126466,0.584536,0.236548,0.544801,0.047151,0.480429
2248,1,Orchard,0.429977,0.760587,0.136571,0.700573,1.711784,0.550394,0.128469,0.181951,0.829813,0.634769,0.905706,0.020790,0.534814
2249,26,Herb,0.469394,0.802415,0.144192,0.762352,2.089402,0.553322,0.111841,0.156255,0.863017,0.690162,0.912470,0.022618,0.486690

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
le = LabelEncoder()

In [14]:
le.fit(df['CropGrp'])

LabelEncoder()

In [15]:
label = le.transform(df['CropGrp'])

In [16]:
df['CropGrp'] = label

In [19]:
df = df.drop(['CropGrp'], axis=1)

In [20]:
df

,Acres,EVI,NVDI,Albedo,GNDVI,MSR,OSAVI,PVR,VARIG,SIPI,GARI,mNVDI,EPIChlb,NDII
0,4,0.427817,0.794949,0.132105,0.754783,2.093314,0.546581,0.116400,0.145814,0.891848,0.661317,0.877803,0.022413,0.522117
1,37,0.250359,0.350633,0.132260,0.434539,0.447128,0.616196,-0.098923,-0.137691,0.590718,0.208436,0.501827,0.048898,0.536452
3,84,0.293365,0.374090,0.158922,0.494862,0.482988,0.636737,-0.148304,-0.205206,0.614956,0.234926,0.499062,0.059000,0.468877
4,24,0.556109,0.829215,0.174470,0.759875,2.345889,0.577111,0.197388,0.277133,0.868445,0.709110,0.941120,0.016380,0.522670
5,60,0.366269,0.652205,0.129180,0.660435,1.223464,0.568183,-0.007552,-0.010992,0.824724,0.483125,0.745229,0.035458,0.527230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,20,0.666071,0.916694,0.207213,0.833653,3.866195,0.621325,0.358022,0.490142,0.928778,0.818325,0.984785,0.008440,0.556332
2246,92,0.728124,0.923599,0.231826,0.851732,4.045819,0.678916,0.339187,0.491979,0.926199,0.843325,0.994638,0.009059,0.545877
2247,33,0.269170,0.370053,0.137566,0.444480,0.477110,0.614353,-0.088953,-0.126466,0.584536,0.236548,0.544801,0.047151,0.480429
2248,1,0.429977,0.760587,0.136571,0.700573,1.711784,0.550394,0.128469,0.181951,0.829813,0.634769,0.905706,0.020790,0.534814
2249,26,0.469394,0.802415,0.144192,0.762352,2.089402,0.553322,0.111841,0.156255,0.863017,0.690162,0.912470,0.022618,0.486690

In [17]:
from sklearn.compose import make_column_transformer

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
column_trans = make_column_transformer((OneHotEncoder(), ['Irrigtn', 'CropGrp']), remainder='passthrough')

In [25]:
df = column_trans.fit_transform(df)

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
min_max_scaler = MinMaxScaler()

In [23]:
X = min_max_scaler.fit_transform(df)

In [24]:
X

array([[0.01140684, 0.45866881, 0.83120293, ..., 0.84019588, 0.2229831 ,
        0.54410377],
       [0.13688213, 0.19390497, 0.26094787, ..., 0.34924379, 0.5886954 ,
        0.59042957],
       [0.31558935, 0.25806915, 0.29105338, ..., 0.34563317, 0.72819526,
        0.37204394],
       ...,
       [0.121673  , 0.22196933, 0.28587213, ..., 0.40535988, 0.56457157,
        0.40937683],
       [0.        , 0.46189098, 0.78710173, ..., 0.8766316 , 0.2005789 ,
        0.58513618],
       [0.09505703, 0.52070084, 0.8407852 , ..., 0.88546481, 0.22581039,
        0.42961123]])

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, label, test_size=0.3, random_state=42)

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
clf1 = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=1000)

In [28]:
clf1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [29]:
y_pred1 = clf1.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test, y_pred1)

0.4946808510638298

In [32]:
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
clf2 = GradientBoostingClassifier(random_state=0)

In [34]:
clf2.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [35]:
y_pred2 = clf2.predict(X_test)

In [36]:
accuracy_score(y_test, y_pred2)

0.5904255319148937

In [37]:
from sklearn.neighbors import KNeighborsClassifier

In [38]:
clf3 = KNeighborsClassifier(n_neighbors=20)

In [39]:
clf3.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                     weights='uniform')

In [40]:
y_pred3 = clf3.predict(X_test)

In [41]:
accuracy_score(y_test, y_pred3)

0.5620567375886525

In [42]:
pred = pd.DataFrame(y_pred1, columns =['Pred1'])

In [43]:
pred['Pred2'] = y_pred2
pred['Pred3'] = y_pred3

In [44]:
pred

     Pred1  Pred2  Pred3
0        7      7      7
1        3      3      3
2       11     11     11
3       11     11     11
4        3     11      8
..     ...    ...    ...
559      7      7      7
560      3      3      3
561      3      3      3
562      3     11     11
563      7     11      1

[564 rows x 3 columns]

In [45]:
y_pred = pred.mode(axis=1)

In [46]:
y_pred

        0    1     2
0     7.0  NaN   NaN
1     3.0  NaN   NaN
2    11.0  NaN   NaN
3    11.0  NaN   NaN
4     3.0  8.0  11.0
..    ...  ...   ...
559   7.0  NaN   NaN
560   3.0  NaN   NaN
561   3.0  NaN   NaN
562  11.0  NaN   NaN
563   1.0  7.0  11.0

[564 rows x 3 columns]

In [47]:
accuracy_score(y_test, y_pred[0])

0.5638297872340425

In [48]:
from sklearn.metrics import classification_report

In [49]:
print(classification_report(y_test, y_pred[0]))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00         0
         1.0       0.55      0.35      0.43       105
         2.0       0.00      0.00      0.00         1
         3.0       0.54      0.83      0.66       132
         4.0       0.00      0.00      0.00         6
         5.0       0.00      0.00      0.00         8
         6.0       0.00      0.00      0.00         2
         7.0       0.58      0.83      0.69       154
         8.0       0.45      0.11      0.18        45
         9.0       1.00      0.12      0.22         8
        10.0       0.00      0.00      0.00         2
        11.0       0.62      0.41      0.49        90
        12.0       0.00      0.00      0.00        11

    accuracy                           0.56       564
   macro avg       0.29      0.20      0.21       564
weighted avg       0.54      0.56      0.52       564

C:\Users\reetb\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\reetb\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [50]:
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           1       0.58      0.13      0.22       105
           2       0.00      0.00      0.00         1
           3       0.47      0.86      0.61       132
           4       0.00      0.00      0.00         6
           5       0.00      0.00      0.00         8
           6       0.00      0.00      0.00         2
           7       0.49      0.82      0.61       154
           8       0.00      0.00      0.00        45
           9       0.00      0.00      0.00         8
          10       0.00      0.00      0.00         2
          11       0.58      0.29      0.39        90
          12       0.00      0.00      0.00        11

    accuracy                           0.49       564
   macro avg       0.18      0.17      0.15       564
weighted avg       0.45      0.49      0.41       564

In [51]:
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       0.55      0.44      0.49       105
           2       0.00      0.00      0.00         1
           3       0.65      0.78      0.71       132
           4       0.20      0.17      0.18         6
           5       0.33      0.12      0.18         8
           6       0.00      0.00      0.00         2
           7       0.63      0.81      0.71       154
           8       0.39      0.24      0.30        45
           9       0.33      0.12      0.18         8
          10       0.00      0.00      0.00         2
          11       0.56      0.50      0.53        90
          12       0.33      0.09      0.14        11

    accuracy                           0.59       564
   macro avg       0.31      0.25      0.26       564
weighted avg       0.57      0.59      0.57       564

In [52]:
print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           1       0.54      0.36      0.43       105
           2       0.00      0.00      0.00         1
           3       0.60      0.78      0.68       132
           4       0.00      0.00      0.00         6
           5       0.00      0.00      0.00         8
           6       0.00      0.00      0.00         2
           7       0.59      0.82      0.69       154
           8       0.39      0.16      0.22        45
           9       1.00      0.12      0.22         8
          10       0.00      0.00      0.00         2
          11       0.58      0.44      0.50        90
          12       0.07      0.09      0.08        11

    accuracy                           0.56       564
   macro avg       0.31      0.23      0.23       564
weighted avg       0.54      0.56      0.53       564